<div class="grid-frame">

  <div class="grid-head">
    <table class="grid-table">
      <colgroup>
        <col *ngFor="let _ of columns; trackBy: trackCol" class="grid-col" />
      </colgroup>
      <thead>
        <tr>
          <th *ngFor="let col of columns; trackBy: trackCol">{{ col.header }}</th>
        </tr>
      </thead>
    </table>
  </div>

  <cdk-virtual-scroll-viewport
    class="grid-body-viewport"
    [itemSize]="rowHeight"
    [minBufferPx]="rowHeight * 5"
    [maxBufferPx]="rowHeight * 12"
    cdkScrollable
  >
    <table class="grid-table">
      <colgroup>
        <col *ngFor="let _ of columns; trackBy: trackCol" class="grid-col" />
      </colgroup>
      <tbody>
        <tr *cdkVirtualFor="let row of items; trackBy: trackRow">
          <td *ngFor="let col of columns; trackBy: trackCol">
            <app-cell
              [type]="col.type"
              [value]="col.type === 'bucket' ? row.bucket_name : pathGet(row, col.key)"
              [row]="row"
              [keyPath]="col.type === 'bucket' ? 'bucket_id' : col.key"
              [boardId]="boardId">
            </app-cell>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!items?.length" class="empty-state">No rows</div>
  </cdk-virtual-scroll-viewport>

</div>