<div class="dialog-overlay">
  <div class="dialog-box">
    <div class="dialog-header">
      <h3>Invite User</h3>
      <button class="close-btn" (click)="closeDialog()">
        <i class="bi bi-x"></i>
      </button>
    </div>

    <form [formGroup]="inviteForm" (ngSubmit)="updateUserProfile()" class="dialog-form">
      <label>
        Name
        <input type="text" formControlName="name" placeholder="Enter Name" />
        <small *ngIf="inviteForm.get('name')?.touched && inviteForm.get('name')?.invalid">Name is required</small>
      </label>

      <label>
        Email
        <input type="email" formControlName="email" placeholder="Enter Email" [readonly]="isEdit" />
        <small *ngIf="inviteForm.get('email')?.touched && inviteForm.get('email')?.invalid">
          Valid Email is required
        </small>
      </label>

      <div class="checkbox-group">
        <span>Usertype:</span>
        <div class="container-checkbox" style="display: flex; gap: 20px; margin-left: 10px;">
          <label class="chb">
            <input type="checkbox" formControlName="isAdmin" id="admin" />
            Admin
          </label>
          <label class="chb">
            <input type="checkbox" formControlName="isUser" id="user" />
            User
          </label>
        </div>
      </div>

      <div class="dialog-actions">
        <button type="submit" class="btn save-btn">Save</button>
      </div>
    </form>
  </div>
</div>