.custom-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.custom-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  max-width: 1000px;
  width: 90%;
  z-index: 1000;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.dialog-header {
  border-bottom: 1px solid #ccc;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.dialog-header h5 {
  margin: 0;
  font-weight: 600;
  color: #333;
}

.dialog-body {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.avatar-section {
  width: 40%;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.avatar-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background: #000000 0% 0% no-repeat padding-box;
opacity: 0.35;
}

.avatar-placeholder {
    width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(177, 177, 177, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bolder;
}

.avatar-wrapper:hover .avatar-overlay {
  opacity: 1;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-group button {
  width: 120px;
  text-align: center;
  margin-top: 2rem;
  padding: 8px;
}

.avatar-btn {
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 22px;
opacity: 1;
}

.form-section {
    flex: 2;
  border-left: 1px solid #ccc;
  padding: 0 2rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
}

.form-control {
  width: 100%;
  padding: 0.6rem 0.75rem;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  background: #EAEAEA 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}

.form-check-inline {
  margin-right: 1rem;
}

.btn-danger {
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

.status-section {
    padding: 2rem;
}

.dialog-footer {
    padding: 1rem;
    border-top: 1px solid #ccc;
}