<div class="custom-overlay" (click)="closeDialog()"></div>
<div class="custom-dialog" (click)="$event.stopPropagation()">
    <div class="dialog-header">
        <h5>Update User Details</h5>
    </div>

    <div class="dialog-body">
        <div class="avatar-section">
            <div class="avatar-wrapper">
                <img *ngIf="user?.image?.url; else nameAvatar" [src]="user?.image?.url" class="avatar" />
                <ng-template #nameAvatar>
                    <div class="avatar-placeholder">
                        {{ user?.name?.charAt(0) | uppercase }}
                    </div>
                </ng-template>
                <div class="avatar-overlay">
                    <i class="bi bi-zoom-in"></i>
                </div>
            </div>
            <div class="btn-group mt-4">
                <button class="avatar-btn">
                    <i class="bi bi-upload"></i>
                    Upload
                </button>
                <button class="avatar-btn">
                    <i class="bi bi-trash"></i>
                    Remove
                </button>
            </div>
        </div>

        <div class="form-section" *ngIf="user">
            <div class="form-group" >
                <label class="form-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.name">
            </div>

            <div class="form-group">
                <label class="form-label">Phone No.</label>
                <input type="text" class="form-control" placeholder="Enter Phone" disabled [value]="user?.mobile?.mobile_number">
            </div>

            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Enter Email" disabled [value]="user?.email">
            </div>

            <div class="form-group">
                <label class="form-label">Role</label>
                <input type="text" class="form-control" [(ngModel)]="user.role" placeholder="Enter Role">
            </div>
        </div>

    </div>  

    <div class="status-section">
        <div class="form-group">
            <label class="form-label">Status</label>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="active" name="status" class="form-check-input" [checked]="user?.status === 'ACTIVE'"
                    (change)="setStatus('ACTIVE')" />
                <label for="active" class="form-check-label">Active</label>
            </div>
        
            <div class="form-check form-check-inline">
                <input type="checkbox" id="inactive" name="status" class="form-check-input"
                    [checked]="user?.status === 'INACTIVE'" (change)="setStatus('INACTIVE')" />
                <label for="inactive" class="form-check-label">Inactive</label>
            </div>
        </div>
    </div>

    <div class="dialog-footer">
        <div class="text-end">
            <button class="btn" (click)="updateUserProfile()" >Save</button>
        </div>
    </div>
</div>