<div [class.collapsed]="isCollapsed" class="sidebar">
    <div class="logo-section">
  <span [ngClass]="isCollapsed ? 'logo-small' : 'logo-large'">logo</span>
</div>
<button
  class="toggle-btn"
  [ngClass]="isCollapsed ? 'toggle-btn-closed' : 'toggle-btn-open'"
  (click)="toggleSidebar()"
>
  <i [class]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-left'"></i>
</button>

    <div class="profile-section uncollapsed-avatar" *ngIf="!isCollapsed" (click)="onProfileClick()">
        <div class="avatar-section">
            <img *ngIf="profileImageUrl; else avatar" [src]="profileImageUrl" alt="Profile" />
            <ng-template #avatar>
                <div class="avatar-placeholder">{{ user?.name?.[0] }}</div>
            </ng-template>
        </div>
        <div class="details-section">
            <h6>{{user?.name}}</h6>
            <span>{{user?.role}}</span>
        </div>
    </div>

    <div class="profile-section collapsed-avatar" *ngIf="isCollapsed" (click)="onProfileClick()">
        <img *ngIf="profileImageUrl; else avatar" [src]="profileImageUrl" alt="Profile" />
        <ng-template #avatar>
            <div class="avatar-placeholder">{{ user?.name?.[0] }}</div>
        </ng-template>
    </div>

    <nav class="menu" [class.collapsed]="isCollapsed">
        <a routerLink="/home" routerLinkActive="active">
            <i class="bi bi-house"></i>
            <span *ngIf="!isCollapsed">Home</span>
        </a>
        <a (click)="openAddUserDialog()">
            <i class="bi bi-plus-square"></i>
            <span *ngIf="!isCollapsed">Add User</span>
        </a>
        <a routerLink="/users" routerLinkActive="active">
            <i class="bi bi-table"></i>
            <span *ngIf="!isCollapsed">User List</span>
        </a>
    </nav>

<div class="sidebar-footer" (click)="toggleSettingsDropdown()" [class.collapsed-footer]="isCollapsed">
    <i class="bi bi-gear"></i>
    <span *ngIf="!isCollapsed">Settings</span>
</div>

</div>
<div class="settings-dropdown" *ngIf="showSettingsDropdown" [class.dropdown-collapsed]="isCollapsed"
    (clickOutside)="closeSettingsDropdown()">
    <ul>
        <li (click)="onChangePassword()">Change Password</li>
        <li (click)="onForgotPassword()">Forgot Password</li>
        <li (click)="onLogout()">Logout</li>
    </ul>
</div>
<app-user-dialog *ngIf="showInviteDialog" (close)="closeInviteDialog()"></app-user-dialog>