<div class="pop">
  <div class="search">
    <span class="icon">🔎</span>
    <input type="text" placeholder="Bucket" [(ngModel)]="query" />
  </div>

  <ul class="list" role="listbox" aria-label="Bucket">
    <li *ngFor="let b of filtered"
        (click)="choose(b)"
        class="row"
        [class.active]="b.id===value"
        tabindex="0">
      <span class="name">{{ b.name }}</span>
      <span *ngIf="b.name===finalOptionName" class="chip">✔ {{ finalBucket }}</span>
    </li>
  </ul>
</div>